@use '/src/variables' as *;

.parallax-banner {
    height: 110vh;
}

.home-page-primary {
    padding: 10vh 10vw;
    text-align: right;
}

.download-cv-button {
    display: inline-flex;
    background-color: $elements-dark-transparet-primary;
    border-radius: 35px;
    overflow: hidden;
    border: none;
    padding: 0;
    box-shadow: 0 0 25px rgba(226, 209, 241, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .inner-button {
        display: inherit;
        padding: 6px 12px;
        transition-duration: 0.3s;
    }

    .inner-button:hover {
        color: $elements-dark-primary;
        background-color: $white-highlighted;
    }

    &:hover {
        box-shadow: 0 0 25px rgba($background-dark-primary, 0.5);
    }
}