@use '/src/variables' as *;

.parallax-banner {
    height: 110vh;
}

.home-page-title {
    padding-top: 10vh;
    text-align: center;
}

.secondary-title {
    background-color: #453f52;
    width: fit-content;
    padding: 0.3rem 1.5rem;
    border-radius: 0.6rem;
    margin: auto;
    box-shadow: 0 0 12px #19171fa1;
}

.home-page-primary {
    padding: 12vh 12vw 0 calc(12vw + 2rem);
    display: grid;

    .buttons-container {
        padding-top: 40vh;
        display: flex;
        grid-gap: 4rem;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        .download-cv-button {
            margin: auto;
            display: inline-flex;
            
            .inner-button {
                padding-left: 16px;
                padding-right: 16px;

                .MuiListItemIcon-root {
                    position: absolute;
                    right: 16px;
                    transition-duration: 0.25s;
                }

                &:hover .MuiListItemIcon-root {
                    right: 50%;
                    transform: translateX(50%);
                }
            }
        }

        .social-links-container {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            grid-column-gap: 1em;
            grid-row-gap: 1em;
            grid-template-rows: auto;
            white-space: normal;
        }
    }
}

.bottom-ifno {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 12vh;
}

.blur-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $elements-dark-transparet-primary;
    border-radius: 999em;
    overflow: hidden;
    border: none;
    padding: 0;
    box-shadow: 0 0 20px rgba($default-shadow, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition-duration: 0.2s;

    .inner-button {
        display: inherit;
        padding: 6px;
        color: $white-default-text;
        text-decoration: none;
        transition-duration: 0.2s;

        .MuiTypography-root {
            color: $white-default-text;
            padding: 5px;
            margin-right: 50px;
            width: max-content;
        }

        .MuiListItemIcon-root {
            justify-content: center;
            min-width: auto;
            color: inherit;
            padding: 5px;
            
            .MuiSvgIcon-root {
                height: 36px;
                width: 36px;
            }
        }

        &:hover {
            color: $elements-dark-primary;
            background-color: $white-highlighted;

            .MuiTypography-root {
                color: $white-highlighted;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 23px rgba($default-shadow, 0.7);
    }
}