.App {
  text-align: center;
  background-color: var(--background-dark-primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sections-content {
  z-index: 100;
  position: relative;
  background: linear-gradient(0deg, rgba(22,17,38,1) 0%, var(--background-dark-primary) 100%);
  box-shadow: 0px 0px 15px 15px var(--background-dark-primary);
}

.padding-center {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 5rem;
}

section {
  min-height: 100vh;
}

.colored-letter {
  color: red;
}