.App {
  text-align: center;
  background-color: var(--background-dark-primary);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  min-height: 100vh;
}